.logo{
    margin-left: 47px;
    margin-top: 25px;
    height: 29px;
}
.container{
    display: flex;  
    justify-content: space-between;
}

.leftspace{
    display: flex;
    width: 35%;
}

.rightspace{
    display: flex;
    width: 35%;
}
.main{
    display: flex;
    flex-direction: column;
    width: 28%;
    border: 1px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main .signin{
    font-weight: bold;
}
.main a{
    text-decoration: none;
    color: #0a66c2;
    font-weight: bold;
}
.main p{
    padding-left: 23px;
    padding-top: 30px;
    font-size: 30px;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.main .signindescrip{
    font-size: 13px;
    margin: 0!important;
    padding-top: 5px;
}
.main input{
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 24px;
    height: 45px;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 17px;
    color: #666666;
}
.main input:focus{
    outline-color: #0a66c2;
}

.form-group {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: stretch !important;
}

.password_label {
    position: absolute;
    right: 10%;
    bottom: 20%;
    font-family: Arial, Helvetica, sans-serif;  
    color: #0a66c2;
    font-weight: bold;
    cursor: pointer;
}

.main .forgotpassword{
    font-size: 15px;
    color: #0a66c2;
    padding-bottom: 20px;
    padding-top: 15px!important;
}
.main button{
    cursor: pointer;
    display: flex;
    width: 85%;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    border-radius: 25px;
    background-color: #0a66c2;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.main img{
    width: 20px;
}
.main .applebutton{
    margin-bottom: 24px;
    margin-top: 13px;
}
.main .buttonapppleandgoogle{
    color: #666666  ;
    background: transparent;
    border: 1px solid;
    height: 40px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666666;
}
.footer img{
    height: 15px;
}
.footer span{
    color: #0a66c2;
    font-weight: bold;
}
.footer p{
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
    padding-bottom: 30px;
}
.main .firsthr{
    border-bottom: 1px solid gray;
    width: 45%;
    
}
.main .secondhr{
    border-bottom: 1px solid gray;
    width: 45%;
}
.middletd{
    vertical-align:middle;
    text-align:center;
}
table{
    margin-left: 23px;
    margin-right: 23px;
}
.footer select{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    border: none;
    outline: 0px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
}
